/*gen*/
body {
    background-image: url('maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;    
    -webkit-user-select: none;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px);
    z-index: -1;
}
h1{
    color: white;
    font-size: 100px;
    text-align: center;
}

/*spec*/
#dice-img img{
    height: 100px;
    border-radius: 14px;
}

button{
    height: 60px;
    border-radius: 13px;
    border: solid;
    width: 100px;
}
.imgcs{
    height: 120px;
}

.butt2css{
    margin-left: 10px;

}
.jsdiv{
    display: inline-block;
    position: relative;
    margin-left:12px ;

  
}
.jsdivin{
    background-color: rgba(219, 219, 219, 0.836);
    width: 70px;
    color: rgb(66, 4, 73);
    border-radius: 12px;
    margin-left: 16px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.15s ease;
 

}
.jsdiv:hover .jsdivin{
    opacity: 1;
}
#res{
    display: inline-block;
}